@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
button {
  padding: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px;
  background: #149bfc;
  color: #fff;
  font-size: 16px;
  border-radius: 32px;
  box-shadow: 2px 2px 8px rgb(188, 187, 187);
  transition: box-shadow 120ms linear;
}
button:hover {
  box-shadow: 0px 12px 32px 0px rgb(188, 187, 187);
}
.section-wrapper {
  width: 90vw;
  margin: 0 auto 24px;
}
@media (min-width: 768px) {
  .section-wrapper {
    width: 80vw;
    margin: 0 auto;
  }
}
/* #navbar */
.navbody {
  background-color: #149bfc;
  position: relative;
}
.nav-center {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  color: #fff;
  font-size: 32px;
}
.nav-right {
  display: none;
}
.toggle-btn {
  color: #fff;
  font-size: 32px;
}
.hide {
  display: none;
}
.aside {
  background-color: #149bfc;
  height: fit-content;
  padding: 12px;
  position: absolute;
  right: 0;
  top: 64px;

  width: 50%;
  transition: all 13ms ease-in;
  z-index: 2;
}
.menu li {
  list-style: none;
  font-size: 20px;
  margin-bottom: 12px;
  padding: 12px 8px;
  cursor: pointer;
  width: fit-content;
  border-radius: 12px;
}
.menu li:hover {
  background-color: #9fd2f6ac;
  box-shadow: 2px 2px 120px 10px #fff;
}
@media (min-width: 768px) {
  .nav-mobile {
    display: none;
  }
  .nav-right {
    display: flex;
    gap: 22px;
  }
  .nav-right li {
    list-style: none;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .tab-hide {
    display: none;
  }
}
@media (min-width: 1100px) {
  .tab-hide {
    display: block;
    position: relative;
  }
  .tab-hide .more-info {
    display: none;
    position: absolute;
    padding: 12px;
  }

  .tab-hide .more-info::before {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #66acde;
    display: inline-block;
    vertical-align: super;
    margin-right: 5px;
    transform: rotateX(180);
    position: absolute;
    top: -10px;
    left: 40%;
  }
  .tab-hide:hover .more-info {
    display: block;
    border-radius: 10px;
    background: #149bfc52;
    position: absolute;
    right: -50%;
    top: 32px;
  }
  .more-info span {
    display: block;
    text-align: center;
    padding: 12px;
  }
}

/* hero */

.hero-section {
  height: 65vh;
  max-width: 100vw;
  background: url('./assets/Rectangle3.png');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  padding: 24px 0;
}
.hero-center {
  height: 100%;
  display: grid;
  place-items: center;
}
.hero-col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  color: #149bfc;
}
.hero-col-2 {
  display: none;
}
.hero-h1 {
  font-size: 48px;
  font-weight: 900;
}
.hero-h2 {
  font-size: 32px;
}
.hero-btn {
  width: 40%;
}
@media (min-width: 1100px) {
  .hero-section {
    background-repeat: repeat;
    height: 80vh;
  }
  .hero-center {
    display: flex;
    justify-content: space-between;
  }
  .hero-col-2 {
    display: block;
  }
  .hero-h1 {
    font-size: 64px;
  }
  .hero-h2 {
    font-size: 48px;
  }
}

/* about us */
.about-section {
  background-image: url('./assets/Rectangle4.png');
}
.about-center {
  padding: 24px;
}
.about-header {
  text-transform: uppercase;
  width: max-content;
  color: #149bfc;
  font-size: 24px;
  font-weight: 600;
  margin: 0 auto 24px;
  position: relative;
}
.about-header:after {
  content: url('./assets/Vector.png');
  position: absolute;
  top: 12px;
  left: 0;
}
.about-details {
  line-height: 24px;
  text-indent: 50px;
  font-size: 16px;
  padding: 12px 0;
}

.about-col-2 {
  display: none;
}
